/* App.css */

/* Chatbot container */
.chatbot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Chat messages area */
.chatbot-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 300px;
  overflow-y: auto;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.user-message {
  background-color: #d3e0dc;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}

.bot-message {
  background-color: #f0f0f0;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}

/* Button widget */
.button-widget {
  margin-bottom: 10px;
}

.button-widget button {
  margin-right: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: purple;
  color: #fff;
  position: relative;
  left:100px;
}

/* Input container */
.input-container {
  display: flex;
  align-items: center;
}

.input-container input {
  padding: 8px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.send-feedback {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: purple;
  color: #fff;
  position: absolute;
  left: 238px;
  top: 410px;
}
.react-chatbot-kit-chat-container {
  position: relative;
  width: 400px;
  position: absolute;
  left: 700px;
  top: 100px;
}